services:
  # targets:
  target_1:
    build: .
    container_name: target_1
    volumes:
      - .:/app # Map the entire project root
    command: node app.js target

  target_2:
    build: .
    container_name: target_2
    volumes:
      - .:/app
    command: node app.js target

  # splitter:
  splitter:
    build: .
    container_name: splitter
    volumes:
      - .:/app
    command: node app.js splitter
    depends_on: [target_1, target_2] # Preserving launch order

  # agent:
  agent:
    build: .
    container_name: agent
    command: node app.js agent
    depends_on: [splitter] # Preserving launch order