# docker-compose.yml
services:
  # targets:
  target_1:
    build: .
    container_name: target_1
    command: node app.js target

  target_2:
    build: .
    container_name: target_2
    command: node app.js target

  # splitter:
  splitter:
    build: .
    container_name: splitter
    command: node app.js splitter
    depends_on: [target_1, target_2]

  # agent:
  agent:
    build: .
    container_name: agent
    volumes:
      - .:/app
    command: node app.js agent
    depends_on: [splitter]

  # test runner:
  tester:
    build: 
      context: .
      dockerfile: Dockerfile.test
    container_name: tester
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock # starting/stopping services
    depends_on:
      - agent