# .github/workflows/main.yml
name: Pipeline Integration

on: [push]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  GitHub-Actions-Pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Unpack complressed log
        run: |
          if [ -f agent/inputs/large_1M_events.log.gz ]; then
            gzip -d agent/inputs/large_1M_events.log.gz
          fi

      - name: Build and Start Env
        run: |
          docker compose up -d --build
          echo "Processing..."
          sleep 5

      # Smoke tests
      - name: Run smoke tests
        run: docker compose exec -T tester pytest tests/test_data_verificaton.py --junitxml=results-verification.xml

      # Integration tests
      - name: Run integration tests
        run: docker compose exec -T tester pytest tests/test_integration.py --junitxml=results-integration.xml
        continue-on-error: true

      - name: Publish test results
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: "results-*.xml"
          annotate_only: false
          detailed_summary: true
          include_passed: true

      - name: Get artifacts
        if: always()
        run: |
          mkdir -p artifacts
          # Dump container logs
          for c in agent splitter target_1 target_2; do
            docker logs $c > artifacts/${c}_console.log 2>&1
          done
          # Copy events.log files using tester for safety
          docker cp target_1:/app/events.log artifacts/target_1_events.log || true
          docker cp target_2:/app/events.log artifacts/target_2_events.log || true

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: artifacts/

      - name: Teardown
        if: always()
        run: docker compose down -v
