name: Pipeline Integration
on: [push]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  GitHub-Actions-Pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set-up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Pytest
        run: pip install pytest

      - name: Build
        run: |
          docker compose up -d --build
          echo "Processing..."
          sleep 5

      - name: Run tests
        run: pytest --junitxml=test-results.xml
        continue-on-error: true

      - name: Publish test results
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: "test-results.xml"

      - name: Get artifacts
        if: always()
        run: |
          mkdir -p artifacts
          for c in agent splitter target_1 target_2; do
            docker logs $c > artifacts/${c}_console.log
          done

          docker cp target_1:/app/events.log artifacts/target_1_events.log
          docker cp target_2:/app/events.log artifacts/target_2_events.log

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: results
          path: artifacts/

      - name: Teardown
        if: always()
        run: docker compose down -v
